.button {
  height: 40px;
  padding: 0 40px;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  background: rgb(169, 0, 221);
  background: linear-gradient(
    77deg,
    rgba(169, 0, 221, 1) 0%,
    rgba(176, 0, 213, 1) 44%,
    rgba(250, 0, 126, 1) 80%,
    rgba(255, 0, 120, 1) 100%
  );
}

.button:hover {
  opacity: 0.6;
}
